:root {
	--bodyScrollBarWidth: 0;
}
.ah-modal {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	display: none;

	&__container {
		background-color: rgba(0, 0, 0, 0.6);
		padding-top: 30px;
		padding-bottom: 30px;
		position: fixed;
		z-index: 1000;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100%;
		overflow: auto;
		display: flex;
		align-items: flex-start;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}

	&__content {
		background-color: #fff;
		margin: 0 auto;
		position: relative;
		width: 700px;
		padding: 30px 20px;
		max-width: calc(100% - 10px);
		border-radius: 5px;
		will-change: auto;
		opacity: 0;
		transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	}

	&__close {
		position: absolute;
		right: 12px;
		top: 12px;
		width: 36px;
		height: 36px;
		cursor: pointer;
		color: #000;
		opacity: 1;
		user-select: none;
		transition: opacity 0.3s ease-in-out;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		z-index: 6;

		&:hover,
		&:focus {
			opacity: 0.5;
		}
		svg {
			width: 20px;
			height: 20px;
			object-fit: contain;
		}
	}

	&_show-modal {
		overflow: hidden;
		.ah-modal__container {
			opacity: 1;
		}
		.ah-modal__content {
			opacity: 1;
			//transform: translate3d(0, 0, 0);
		}
	}

	@media (min-width: 1026px) {
		&__container {
			padding-right: var(--bodyScrollBarWidth);
		}
	}

	@media (max-width: 1025px) {
		&__container {
			align-items: flex-start;
			padding-top: 30px;
		}
		&__content {
			margin: auto;
		}
	}

	@media (max-width: 767px) {
		&__container {
			align-items: flex-start;
			height: 100vh;
			padding: 10px 0;
			min-height: 0;
		}
		&__content {
			padding: 20px 20px 30px;
			border-radius: 0;
			width: 100%;
			min-height: 0;
			//min-height: 100%;
		}
		&__close {
			right: 2px;
			top: 2px;
			svg {
				width: 10px;
				height: 10px;
			}
		}
	}
}

html.ah-modal-show {
	overflow: hidden;
}
body.ah-modal-show {
	overflow: hidden;

	@media (min-width: 1026px) {
		margin-right: var(--bodyScrollBarWidth);
	}
}

.modal-title {
	color: #200E32;
	font-size: 30px;
	line-height: 1.2;
	@extend %Mont-700;
	margin: 0;
}
.modal-subtitle {
	margin-top: 10px;
}
.modal-header {
	margin: 0 0 30px;
	text-align: center;
	flex: 0 0 auto;
}
.modal-body {
	padding-bottom: 4px;
}

@media (max-width: 470px) {
	.modal-title {
		font-size: 16px;
	}
	.modal-header {
		margin-bottom: 20px;
	}
	/*.modal-body {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		min-height: 0;
	}*/
}
