.china {
  .container {
    @include for-470-px {
      padding: 0 10px;
    }
  }

  .top {
    padding: 70px 0 30px;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      background-repeat: no-repeat;
      background-size: cover;
      width: 300px;
      height: 200px;

      @include for-1340-px {
        height: 160px;
      }
    }

    &::before {
      left: 20px;
      background-image: url('../images/services-pochta/bg-one.png');

      @include for-1170-px {
        left: -60px;
      }

      @include for-769-px {
        left: -94px;
        width: 327px;
        height: 190px;
      }

      @include for-640-px {
        background-image: url('../images/services-pochta/bg-one-mob.svg');
        width: 127px;
        height: 146px;
        top: 5px;
        left: 0;
      }

      @include for-470-px {
        top: 50px;
      }

      @include for-440-px {
        top: 66px;
      }
    }

    &::after {
      right: 20px;
      background-image: url('../images/services-pochta/bg-two.png');
      height: 190px;

      @include for-915-px {
        right: 0;
      }

      @include for-769-px {
        height: 194px;
        width: 280px;
        bottom: 18px;
      }

      @include for-640-px {
        background-image: url('../images/country/top-box-mob.svg');
        height: 117px;
        width: 120px;
        bottom: 29px;
        right: 0px;
        top: 10px;
      }

      @include for-470-px {
        top: 50px;
      }

      @include for-440-px {
        top: 75px;
        height: 110px;
        width: 90px;
      }
    }

    @include for-915-px {
      padding: 46px 0 40px;
    }

    @include for-640-px {
      padding: 20px 0 0 0;
    }
  }

  .top__inner {
    justify-content: center;
  }

  .top__title {
    font-size: 35px;
    line-height: 43px;
    margin-bottom: 30px;

    @include for-915-px {
      font-size: 30px;
      line-height: 35px;
    }

    @include for-769-px {
      font-size: 25px;
      line-height: 30px;
      position: relative;
      z-index: 2;
      margin-bottom: 20px;
    }

    @include for-640-px {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 10px;
    }

    @include for-470-px {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }

  .top__text {
    text-align: center;
    margin-bottom: 30px;

    @include for-769-px {
      margin-bottom: 20px;
      position: relative;
      z-index: 2;
    }
  }

  .top__content {

    @include for-725-px {
      width: 100%;
      min-height: 196px;
    }

    @include for-470-px {
      min-height: 220px;
    }

    @include for-440-px {
      min-height: 204px;
    }
  }

  .top__search {
    width: 556px;
    margin: 0 auto;

    @include for-725-px {
      margin-bottom: 40px;
    }

    @include for-640-px {
      margin-bottom: 0;
      width: 100%;
    }
  }

  .breadcrumbs {
    margin-bottom: 30px;

    @include for-470-px {
      display: none;
    }
  }

  .breadcrumbs__list {
    @include for-769-px {
      font-size: 12px;
      line-height: 15px;
    }
  }

  .services-pochta__info-title {
    padding-left: 65px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 45px;
      height: 34px;
      background-image: url('../images/country/flag-china.png');
      background-repeat: no-repeat;
      background-size: cover;
    }

    @include for-470-px {
      padding-left: 40px;

      &::before {
        width: 30px;
        height: 22px;
      }
    }
  }

  .shops__content {
    grid-template-rows: repeat(1, 1fr);
    padding-top: 30px;
  }

  .shops__item {
    &:last-child {
      @include for-769-px {
        display: none;
      }
    }
  }

  .delivery__content,
  .shops__content {
    @include for-470-px {
      padding-top: 10px;
      margin-bottom: 20px;
    }
  }

  &__title {
    @extend %Mont-700;
    font-size: 24px;
    line-height: 29px;

    @include for-769-px {
      font-size: 18px;
      line-height: 22px;
    }

    @include for-470-px {
      font-size: 16px;
      line-height: 20px;
    }
  }
}