.through-insert {
    svg {
        margin-bottom: 2px;
        margin-right: 5px;
    }
    p {
        display: flex;
        align-items: center;
    }
    span {
        text-transform: none;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #e24949;
    }
    &__mobile-hidden {
        display: none;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #e24949;
        & p {
            display: flex;
            align-items: center;
        }
        & svg {
            margin-bottom: 2px;
            margin-right: 5px;
            @include for-725-px {
                display: none;
            }
        }
        @include for-1000-px {
            display: block;
            position: absolute;
            top: 36px;
            right: 140px;
        }
        @include for-725-px {
            top: 24px;
            right: 120px;
            font-size: 10px;
            line-height: 12px;
        }
        @include for-470-px {
            top: 12px;
        }
    }
}
.cashbe13 {
    padding: 18px 28px;
    width: 1107px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    position: relative;
    background: #ffffff;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    @include for-1200-px {
        width: calc(100vw - 90px);
    }
    @include for-640-px {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .left {
        width: 392px;
        display: flex;
        justify-content: space-between;
        .subtext {
            text-align: right;
        }
        @include for-1200-px {
            width: 36%;
            gap: 24px;
        }
        @include for-1025-px {
            flex-direction: column;
            gap: 10px;
            text-align: center;
            align-items: center;
        }
        @include for-640-px {
            width: 100%;
        }
    }
    .right {
        width: 635px;
        display: flex;
        justify-content: space-between;
        @include for-1200-px {
            width: 61%;
            gap: 24px;
        }
        @include for-1025-px {
            flex-direction: column;
            align-items: center;
            gap: 10px;
            text-align: center;
        }
        @include for-640-px {
            width: 100%;
        }
    }
    .amount {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-align: right;
        color: #e24949;
        opacity: 0.9;
        @include for-1025-px {
            text-align: center;
        }
    }
    .logo {
        width: 186px;
        height: 38px;
    }
    .text {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        opacity: 0.9;
    }
    .subtext {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #979797;
    }
    .toshopping {
        height: min-content;
        padding: 12px 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        border: 1px solid #e7262e;
        border-radius: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #e7262e;
        opacity: 0.9;
        transition: 0.3s;
        &:hover {
            background: #e7262e;
            color: #ffffff;
            opacity: 0.9;
        }
    }
}
