.through-insert {
    svg {
        margin-bottom: 2px;
        margin-right: 5px;
    }
    p {
        display: flex;
        align-items: center;
        margin-right: -35px;
    }
    span {
        text-transform: none;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #e24949;
    }
    &__mobile-hidden {
        display: none;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #e24949;
        & p {
            display: flex;
            align-items: center;
        }
        & svg {
            margin-bottom: 2px;
            margin-right: 5px;
            @include for-725-px {
                display: none;
            }
        }
        @include for-1000-px {
            display: block;
            position: absolute;
            top: 36px;
            right: 140px;
            margin-right: 0px;
        }
        @include for-725-px {
            top: 24px;
            right: 120px;
            font-size: 10px;
            line-height: 12px;
        }
        @include for-470-px {
            top: 20px;
        }
    }
    @include for-1170-px {
        margin-right: 30px;
    }
    @include for-1000-px {
        display: none;
    }
    margin-right: 70px;
    display: flex;
    align-items: center;
}
.cashbe13 {
    padding: 18px 28px;
    width: 1107px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    position: relative;
    background: #ffffff;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    @include for-1200-px {
        width: calc(100vw - 90px);
    }
    @include for-640-px {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .left {
        width: 392px;
        display: flex;
        justify-content: space-between;
        .subtext {
            text-align: right;
        }
        @include for-1200-px {
            width: 36%;
            gap: 24px;
        }
        @include for-1025-px {
            flex-direction: column;
            gap: 10px;
            text-align: center;
            align-items: center;
        }
        @include for-640-px {
            width: 100%;
        }
    }
    .right {
        width: 635px;
        display: flex;
        justify-content: space-between;
        @include for-1200-px {
            width: 61%;
            gap: 24px;
        }
        @include for-1025-px {
            flex-direction: column;
            align-items: center;
            gap: 10px;
            text-align: center;
        }
        @include for-640-px {
            width: 100%;
        }
    }
    .amount {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-align: right;
        color: #e24949;
        opacity: 0.9;
        @include for-1025-px {
            text-align: center;
        }
    }
    .logo {
        width: 186px;
        height: 38px;
    }
    .text {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        opacity: 0.9;
    }
    .subtext {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #979797;
    }
    .toshopping {
        height: min-content;
        padding: 12px 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        border: 1px solid #e7262e;
        border-radius: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #e7262e;
        opacity: 0.9;
        transition: 0.3s;
        &:hover {
            background: #e7262e;
            color: #ffffff;
            opacity: 0.9;
        }
    }
}
// .big-cashbe {
//     margin: 30px auto;
//     @include for-1025-px {
//         margin: 0 auto 20px;
//     }
//     @include for-640-px {
//         margin: 0px auto 10px;
//     }
//     .content {
//         padding: 20px 0;
//         margin: 0 auto;
//         display: flex;
//         justify-content: center;
//         gap: 40px;
//         @include for-1025-px {
//             padding: 10px 0;
//             gap: 16px;
//         }
//         @include for-769-px {
//             flex-direction: column;
//             align-items: center;
//         }
//         @include for-640-px {
//             padding-top: 0;
//             gap: 10px;
//         }
//         .left {
//             display: flex;
//             align-items: center;
//             gap: 16px;
//             @include for-1025-px {
//                 gap: 14px;
//             }
//             @include for-640-px {
//                 gap: 5px;
//             }
//         }
//         .logo {
//             width: 162px;
//             height: 33px;
//             @include for-1025-px {
//                 width: 162px;
//                 height: 33px;
//             }
//             @include for-640-px {
//                 width: 76px;
//                 height: 16px;
//             }
//         }
//         .sign {
//             font-style: normal;
//             font-weight: 600;
//             font-size: 30px;
//             line-height: 37px;
//             text-align: right;
//             color: #e24949;
//             opacity: 0.9;
//             @include for-640-px {
//                 font-size: 16px;
//                 line-height: 20px;
//             }
//         }
//         .text {
//             font-style: normal;
//             font-weight: 600;
//             font-size: 20px;
//             line-height: 24px;
//             color: #e24949;
//             opacity: 0.9;
//             @include for-640-px {
//                 font-size: 12px;
//                 line-height: 15px;
//             }
//         }
//         .subtext {
//             font-style: normal;
//             font-weight: 400;
//             font-size: 14px;
//             line-height: 17px;
//             display: flex;
//             align-items: center;
//             color: #979797;
//             @include for-640-px {
//                 font-size: 10px;
//                 line-height: 12px;
//             }
//         }
//         .toshopping {
//             width: 173px;
//             height: 44px;
//             padding: 12px 28px;
//             background: #ffffff;
//             border: 1px solid #e7262e;
//             border-radius: 8px;
//             font-style: normal;
//             font-weight: 500;
//             font-size: 16px;
//             line-height: 20px;
//             color: #e7262e;
//             opacity: 0.9;
//             transition: 0.3s;
//             text-align: center;
//             @include for-640-px {
//                 width: calc(100vw - 30px);
//             }
//             &:hover {
//                 background: #e7262e;
//                 color: #ffffff;
//                 opacity: 0.9;
//             }
//         }
//     }
// }
.big-cashbe {
    height: 106px;
    margin: 30px -15px;

    margin-left: -15px;
    border: 2px dashed #e24949;
    border-radius: 3px;
    background: #fbfbfb;
    @include for-1170-px {
        height: 76px;
        // margin: 0 auto 20px;
    }
    @include for-767-px {
        padding: 0;
        height: max-content;
        margin: 0px -10px 10px;
    }
    @include for-440-px {
        padding: 10px 0 0;
    }

    .content {
        display: grid;
        grid-template-columns: 190px 1fr 270px;
        grid-template-areas: "girl formula toshopping";
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        @include for-1170-px {
            grid-template-columns: 90px max-content 140px;
            padding: 0 20px 0 0;
        }
        @include for-767-px {
            padding: 0;
            grid-template-columns: max-content 1fr;
            grid-template-areas:
                "girl formula"
                "girl toshopping";
        }
        @include for-440-px {
            grid-template-columns: 90px 206px;
            grid-template-areas:
                "formula formula"
                "girl toshopping";
        }
        .formula {
            grid-area: formula;
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: space-between;
            @include for-1025-px {
                gap: 8px;
            }
            @include for-767-px {
                gap: 4px;
                width: max-content;
                margin: 0 auto;
            }
        }
        .girl {
            grid-area: girl;
            height: 102px;
            width: 150px;
            object-fit: cover;
            @include for-1170-px {
                height: 72px;
                width: 90px;
            }
            @include for-767-px {
                width: 120px;
                height: 102px;
            }
            @include for-440-px {
                width: 90px;
                height: 60px;
            }
        }
        .logo {
            width: 214px;
            height: 44px;
            @include for-1170-px {
                width: 148px;
                height: 30px;
            }
            @include for-640-px {
                width: 76px;
                height: 16px;
            }
        }
        .sign {
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 46px;
            text-align: right;
            color: #e24949;
            @include for-1025-px {
                font-size: 30px;
                line-height: 34px;
            }
            @include for-640-px {
                font-size: 16px;
                line-height: 20px;
            }
        }
        .text {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #e24949;
            white-space: nowrap;
            @include for-1025-px {
                font-size: 18px;
                line-height: 22px;
            }
            @include for-640-px {
                opacity: 0.9;
                font-size: 12px;
                line-height: 15px;
            }
        }
        .subtext {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            display: flex;
            align-items: center;
            color: #23315d;
            white-space: nowrap;
            @include for-1025-px {
                font-size: 12px;
                line-height: 15px;
            }
            @include for-640-px {
                font-size: 9px;
                line-height: 11px;
            }
        }
        .toshopping {
            grid-area: toshopping;
            justify-self: end;
            height: 44px;
            width: max-content;
            padding: 12px 28px;
            background: #ffffff;
            color: #ffffff;
            border-radius: 8px;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            opacity: 0.9;
            transition: 0.3s;
            text-align: center;
            background: #23315d;
            border: 1px solid #23315d;
            border-radius: 8px;
            @include for-1025-px {
                padding: 8px 18px;
                height: 33px;
                font-size: 14px;
                line-height: 17px;
            }
            @include for-767-px {
                min-width: 206px;
                justify-self: center;
            }
            @include for-440-px {
                margin-right: 10px;
            }
            &:hover {
                border: 1px solid #23315d;
                background: #ffffff;
                color: #23315d;
            }
        }
    }
}
.animation-cashbe {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 13px;
    gap: 14px;
    @include for-640-px {
        margin-bottom: 20px;
        flex-direction: column;
        gap: 10px;
    }
    .black {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
    }
    .red {
        font-weight: 600;
        color: #e24949;
    }
    .get-cashbe {
        padding: 6px 32px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        border: 1px dashed #2e2e46;
        transition: 0.3s;
        &:hover {
            background: #000000;
            color: #ffffff;
        }
    }
    .animation-cashbe__text {
        opacity: 0;
        animation: fade-in 1s ease-in-out 1s forwards;
        @keyframes fade-in {
            to {
                opacity: 1;
            }
        }
    }
    .get-cashbe {
        opacity: 0;
        animation: fade-in 0.5s ease-in-out 2s forwards;
        @keyframes fade-in {
            to {
                opacity: 1;
            }
        }
    }
}
