.api-settings {
    padding: 40px;
    background: #fdf6f6;
    margin-bottom: 40px;
    @include for-1000-px {
        padding: 30px 20px;
    }
    @include for-725-px {
        padding: 10px;
    }
    .container {
        max-width: 1140px;
        padding: 0;
    }
    .api-title {
        @include for-725-px {
            font-size: 24px;
        }
    }
    .responsive-container {
        padding: 0;
        margin: 0 auto;
        position: relative;
        .top__progress-line-bg {
            bottom: 0px;
            position: relative;
        }
    }
    .api-settings-input-widget {
        height: 50px;
        align-items: center;
        justify-content: space-between;
        display: flex;
        gap: 20px;
        background: #fdf6f6;
        .api-input-wrapper {
            height: 100%;
        }
        .api-input {
            height: 100%;
        }
        .api-button {
            height: 100%;
            .top__btn-text {
                margin-right: 0;
                margin-left: -25px;
            }
            @include for-440-px {
                width: 100%;
                font-size: 12px;
            }
        }
        &.api-settings-input-widget-mobile {
            gap: 10px;
            .api-button {
                width: max-content;
                min-width: 140px;
                padding-right: 5px;
                padding-left: 5px;
                font-size: 12px;
            }
        }
    }
    .api-subtext {
        padding-top: 6px;
        padding-bottom: 16px;
        color: #000;
        font-size: 12px;
        line-height: 20px;
        font-weight: normal;
        background: #fdf6f6;
        @include for-725-px {
            padding-bottom: 10px;
        }
        .api-link {
            color: #e24949;
            font-size: 14px;
            line-height: 17px;
            text-decoration-line: underline;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            &:hover {
                font-size: 16px;
            }
        }
    }
    .api-settings-form {
        padding: 24px;
        border-radius: 8px;
        background: #ffffff;
        border: 1px solid #e1e1e1;
        box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        @include for-725-px {
            padding: 10px;
        }
        .form-title {
            margin-bottom: 20px;
            font-family: Montserrat-Black, sans-serif;
            color: #000;
            font-size: 22px;
            font-weight: 700;
            line-height: 20px;
            @include for-725-px {
                font-size: 18px;
            }
        }
        .form-text {
            color: #000;
            font-size: 16px;
            line-height: 22px;
            @include for-725-px {
                font-size: 14px;
            }
        }
        .api-button {
            @include for-440-px {
                font-size: 12px;
            }
        }
        .api-settings-items {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            margin-bottom: 20px;
            @include for-725-px {
                flex-direction: column;
            }
            .api-settings-item {
                width: calc(50% - 10px);
                @include for-725-px {
                    width: 100%;
                }
                .relative-container {
                    position: relative;
                }
                .item-title {
                    margin-bottom: 16px;
                    color: #000;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                }
                .item-selected {
                    padding: 12px 48px 12px 16px;
                    color: #000;
                    font-size: 16px;
                    height: 50px;
                    border: 1px solid #e6e6e6;
                    border-radius: 3px;
                    position: relative;
                    @include for-725-px {
                        font-size: 14px;
                    }
                    &::after {
                        content: "";
                        background-image: url("../images/api/input-arrow.svg");
                        background-repeat: no-repeat;
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        right: 16px;
                        top: 19px;
                    }
                }
                .select-items {
                    border: 1px solid #e6e6e6;
                    background: #fff;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 0;
                    border-radius: 3px;
                    display: none;
                    z-index: 1;
                    &::after {
                        content: "";
                        background-image: url("../images/api/input-arrow.svg");
                        background-repeat: no-repeat;
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        right: 16px;
                        top: 13px;
                        transform: rotate(180deg);
                    }
                    .select-item {
                        padding: 12px 48px 12px 16px;
                        color: #000;
                        font-size: 16px;
                        height: 50px;
                        @include for-725-px {
                            font-size: 14px;
                        }
                        &:hover {
                            background: rgba(209, 181, 181, 0.1);
                        }
                    }
                }
                &.active {
                    .item-selected {
                        border-bottom: none;
                        display: none;
                    }
                    .select-items {
                        display: flex;
                        flex-direction: column;
                    }
                }
                &.color {
                    .item-selected {
                        width: 114px;
                        @include for-725-px {
                            width: 100%;
                        }
                    }
                    .colored {
                        width: 42px;
                        height: 24px;
                        border-radius: 8px;
                        border: 1px solid #2e2e46;
                        &.red {
                            background: #e24949;
                        }
                        &.yellow {
                            background: yellow;
                        }
                        &.black {
                            background: black;
                        }
                    }
                }
            }
        }
        .checkbox-wrapper {
            display: flex;
            height: 50px;
            align-items: center;
            color: #000;
            font-size: 16px;
            @include for-725-px {
                height: 34px;
                font-size: 14px;
            }
            .custom-checkbox {
                position: absolute;
                z-index: -1;
                opacity: 0;
            }
            .custom-checkbox + label {
                display: inline-flex;
                align-items: center;
                user-select: none;
                cursor: pointer;
            }
            .custom-checkbox + label::before {
                content: "";
                margin-right: 10px;
                width: 24px;
                height: 24px;
                flex-shrink: 0;
                background: #fff;
                border-radius: 2px;
                border: 2px solid #43483f;
            }
            .custom-checkbox:checked + label::before {
                content: "\2714";
                color: #fff;
                padding-left: 4px;
                background: #d64545;
                border: 2px solid #d64545;
            }
        }
        .get-code {
            margin-top: 44px;
            @include for-725-px {
                margin-top: 40px;
            }
            .form-title {
                margin-bottom: 16px;
            }
            .form-text {
                width: 50%;
                margin-bottom: 23px;
                @include for-1000-px {
                    width: 75%;
                }
                @include for-725-px {
                    width: 100%;
                }
            }
            .result {
                display: block;
                font-size: 16px;
                line-height: 100%;
                margin-top: 23px;
                padding: 20px 50px 20px 15px;
                height: 140px;
                width: 100%;
                border-radius: 5px;
                border: 1px solid #dedede;
                background: #fff;
                outline: none;
                resize: none;
                @include for-1000-px {
                    height: 180px;
                }
                @include for-725-px {
                    font-size: 14px;
                    padding: 20px 15px;
                }
                @include for-470-px {
                    height: 278px;
                }
            }
        }
    }
    .scene {
        width: 100%;
        background: #fdf6f6;
        &.collapsed {
            height: 1px;
        }
        .hidden {
            display: none;
        }
        .big-widget {
            padding-top: 10px;
            .tracking-widget {
                @include for-470-px {
                    padding-top: 0;
                }
            }
            .tracking-widget__list-item-cashbe {
                &.hidden {
                    display: none;
                }
            }
            .tracking-widget__inner {
                margin-top: 0;
                margin-bottom: 0;
            }
            .tracking-widget__aside-box {
                padding-right: 20px;
            }
            &.big-widget_tablet {
                .tracking-widget__inner {
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    .tracking-widget__aside-box {
                        padding-left: 20px;
                        padding-bottom: 20px;
                    }
                }
            }
            &.big-widget_mobile {
                .tracking-widget__content {
                    .tracking-widget__list {
                        &:before {
                            left: 14px;
                            bottom: 60px;
                            top: -20px;
                        }
                        .tracking-widget__list-item {
                            display: flex;
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                            flex-direction: column;
                            .tracking-widget__list-date {
                                position: absolute;
                                left: 81px;
                                -webkit-box-orient: horizontal;
                                -webkit-box-direction: normal;
                                -ms-flex-direction: row;
                                flex-direction: row;
                                width: auto;
                                padding-right: 0;
                                &:after {
                                    left: -81px;
                                    top: 0;
                                }
                                .tracking-widget__date {
                                    margin-right: 10px;
                                    display: block;
                                    font-size: 14px;
                                    line-height: 17px;
                                }
                            }
                            .tracking-widget__list-content {
                                padding-left: 40px;
                                .tracking-widget__list-img {
                                    width: 30px;
                                    height: 30px;
                                }
                                .tracking-widget__list-img svg {
                                    width: 30px;
                                    height: 30px;
                                }
                                .tracking-widget__list-box {
                                    margin-top: 30px;
                                    .tracking-widget__list-text {
                                        display: block;
                                        margin-bottom: 5px;
                                        font-size: 14px;
                                        line-height: 17px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.over-content {
                position: absolute;
                left: -20px;
                top: 25px;
                height: 50vh;
                overflow-y: scroll;
                box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
                z-index: 1;
                @include for-470-px {
                    left: -10px;
                    box-shadow: none;
                }
            }
        }
    }
}
