.book-post {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #ffffff;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 20px rgba(23, 23, 80, 0.05);
    border-radius: 8px;
    cursor: pointer;
    display: none;
    @include for-640-px {
        display: block;
    }
    &.show-when-parcel-clicked {
        display: none;
    }
    &-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 14px;
    }
    &-bottom {
        display: flex;
        justify-content: space-between;
    }
    .code {
        display: flex;
        &-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-image {
            width: 30px;
            height: 30px;
            margin-right: 8px;
        }
        &-name {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
        }
        &-number {
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            color: rgba(0, 0, 0, 0.5);
            opacity: 0.9;
        }
    }
    .weight {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-align: right;
        color: #000000;
    }
    .address {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
    }
    .more {
        display: flex;
        align-items: center;
        cursor: pointer;
        &-text {
            color: rgba(0, 0, 0, 0.5);
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
        }
        &-image {
            width: 12px;
            height: 6px;
            margin-left: 5px;
        }
    }
    &.collapsed {
        .more-image {
            transform: rotate(180deg);
        }
    }
}
