.parcel {
    z-index: 1;
    padding: 30px 0px 20px;
    margin-bottom: 40px;
    background: #fbfbfb;
    @include for-1170-px {
        padding: 10px 20px 20px 20px;
    }
    @include for-1000-px {
        display: none;
    }
    .wrapper {
        margin: 0 auto;
        display: flex;
        gap: 40px;
        @include for-1170-px {
            flex-direction: column;
            gap: 10px;
        }
        .left {
            display: flex;
            gap: 20px;
            .input {
                padding: 11px;
                width: 220px;
                height: 37px;
                background: #ffffff;
                border: 0.5px solid rgba(0, 0, 0, 0.5);
                outline: none;
                font-size: 12px;
                line-height: 15px;
                &::placeholder {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    color: rgba(0, 0, 0, 0.5);
                }
                &.error {
                    border: 1px solid #e24949;
                }
            }
            .add-parcel {
                height: 37px;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                text-transform: none;
                color: #ffffff;
                display: flex;
                align-items: center;
                padding: 10px 20px;
                background: #e24949;
                &:hover {
                    transition: 0.3s;
                    box-shadow:
                        0 0 20px #e24949,
                        0 0 40px #e24949;
                }
            }
            .subtext {
                margin-top: 3px;
                font-weight: 400;
                font-size: 10px;
                line-height: 12px;
                color: rgba(0, 0, 0, 0.5);
            }
            @include for-1170-px {
                order: 1;
            }
        }
        .right {
            display: flex;
            height: 37px;
            gap: 24px;
            align-items: center;

            .link {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                &:hover {
                    transition: 0.3s;
                    color: #e24949;
                }
            }
        }
    }
}
.show-when-parcel-clicked {
    display: none;
}
.tracking-widget.show-when-parcel-clicked {
    display: none;
}
.parcel-mobile {
    display: none;
    @include for-1000-px {
        height: 68px;
        position: fixed;
        z-index: 5;
        bottom: 0;
        left: 0;
        right: 0;
        background: #ffffff;
        display: flex;
        gap: 20px;
        display: flex;
        justify-content: space-around;
    }
    .item {
        width: 80px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &:active {
            .item-image svg path {
                stroke: #e24949;
                stroke-opacity: 1;
            }
            .item-text {
                color: #e24949;
            }
        }
        &:hover {
            .item-image svg path {
                stroke: #e24949;
                stroke-opacity: 1;
            }
            .item-text {
                color: #e24949;
            }
        }
        &-image {
            margin-bottom: 6px;
        }
        &-text {
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            text-align: center;
            letter-spacing: 0.5px;
            color: rgba(0, 0, 0, 0.5);
        }
    }
    .add-parcel-mobile {
        cursor: pointer;
        width: 50px;
        height: 50px;
        position: absolute;
        right: 20px;
        bottom: 88px;
        border-radius: 77px;
        box-shadow:
            0px 6px 10px rgba(0, 0, 0, 0.14),
            0px 1px 18px rgba(0, 0, 0, 0.12),
            0px 3px 5px rgba(0, 0, 0, 0.2);
    }
}
