.header {
    &.header-personal-area {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background: #ffffff;
        .header__menu {
            @include for-1170-px {
                margin-right: 30px;
            }
            &-item {
                @include for-1170-px {
                    margin-right: 30px;
                }
            }
        }
    }
}
.footer {
    &.footer-personal-area {
        .footer-bottom {
            @include for-725-px {
                padding-bottom: 90px;
            }
        }
    }
}
.personal-area {
    .tracking-widget__wrapper {
        @include for-640-px {
            order: 1;
            margin-bottom: 0;
        }
    }
    .tracking-widget__aside-inner {
        &.collapsed {
            @include for-640-px {
                background: red;
                // display: none;
            }
        }
    }
}
