.header {
    &.header-personal-area {
        @include for-725-px {
            padding-bottom: 80px;
        }

        // position: fixed;
        // top: 0;
        // left: 0;
        // right: 0;
        // z-index: 2;
        // background: #ffffff;
        // .header__menu {
        //     @include for-1170-px {
        //         margin-right: 30px;
        //     }
        //     &-item {
        //         @include for-1170-px {
        //             margin-right: 30px;
        //         }
        //     }
        // }
    }
}
.footer {
    &.footer-personal-area {
        .footer-bottom {
            @include for-725-px {
                padding-bottom: 90px;
            }
        }
    }
}
.personal-area {
    .tracking-widget__wrapper {
        @include for-640-px {
            order: 1;
            margin-bottom: 0;
        }
    }
    .tracking-widget__aside-inner {
        &.collapsed {
            @include for-640-px {
                display: none;
            }
        }
    }
    .top__progress-line-bg {
        position: absolute;

        // top: 0px;
        // position: fixed;
        // top: 176px;
        // @include for-1170-px {
        //     top: 203px;
        // }
        // @include for-725-px {
        //     top: 107px;
        // }
    }
    .tracking-widget__inner {
        margin-bottom: 20px;
        @include for-640-px {
            margin-top: 0;
        }
    }
    .tracking-widget__aside-box {
        &.collapsed {
            @include for-640-px {
                display: none;
            }
        }
    }
}
