.profile-settings {
    margin-bottom: 100px;
    @include for-1170-px {
        margin-bottom: 60px;
    }
    @include for-725-px {
        margin-bottom: 40px;
    }
    &-title {
        margin-bottom: 30px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        @include for-1025-px {
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 22px;
        }
    }
    .wrapper {
        display: flex;
        gap: 100px;
        margin-bottom: 60px;
        @include for-1025-px {
            flex-direction: column;
            margin-bottom: 20px;
            align-items: center;
            gap: 0px;
        }
        @include for-725-px {
            margin-bottom: 20px;
        }
        .text {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
            @include for-1025-px {
                font-size: 14px;
                line-height: 17px;
            }
        }
        .subtext {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            @include for-1025-px {
                font-size: 12px;
                line-height: 15px;
            }
        }
        .flex-item {
            height: 37px;
            padding: 2px 0 2px 16px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include for-1025-px {
                height: 24px;
                margin-bottom: 14px;
            }
            &-with-bg {
                height: 37px;
                padding: 8px 0 8px 16px;
                background: #fbfbfb;
                @include for-1025-px {
                    height: 24px;
                    margin-bottom: 14px;
                }
                @include for-640-px {
                }
            }
            .right {
                display: flex;
                .text {
                    width: 100px;
                    @include for-640-px {
                        width: 70px;
                        text-align: center;
                    }
                }
            }
        }
        &-left {
            width: 580px;
            display: flex;
            flex-direction: column;
            @include for-640-px {
                width: 100%;
            }
        }
        &-right {
            @include for-640-px {
                width: 100%;
            }
            .flex-item {
                &-with-bg {
                    width: 271px;
                    background: #fbfbfb;
                    @include for-1025-px {
                        width: 580px;
                    }
                    @include for-640-px {
                        width: 100%;
                    }
                }
            }
            .input {
                width: 271px;
                @include for-1025-px {
                    height: 34px;
                    width: 100%;
                }
            }
            .buttons {
                display: flex;
                gap: 24px;
                @include for-640-px {
                    flex-direction: column;
                    gap: 20px;
                }
            }
            .save-password {
                padding: 10px 20px;
                height: 37px;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                text-transform: none;
                color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background: #e24949;
                &:hover {
                    transition: 0.3s;
                    box-shadow: 0 0 20px #e24949, 0 0 40px #e24949;
                }
            }
            .delete-accaunt {
                padding: 8px 23px;
                height: 37px;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                text-transform: none;
                color: rgba(0, 0, 0, 0.5);
                display: flex;
                justify-content: center;
                align-items: center;
                background: #fbfbfb;

                border: 0.5px solid rgba(0, 0, 0, 0.2);
                cursor: pointer;
                & img {
                    margin-right: 12px;
                    width: 20px;
                    height: 20px;
                }
                &:hover {
                    transition: 0.3s;
                    box-shadow: 0 0 20px #333, 0 0 40px #333;
                }
            }
        }
    }
    .input {
        margin-bottom: 20px;
        width: 100%;
        height: 37px;
        padding: 10px 14px;
        outline: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        @include for-1025-px {
            height: 34px;
            margin-bottom: 14px;
            font-size: 12px;
            line-height: 15px;
        }
        &::placeholder {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: rgba(0, 0, 0, 0.5);
            @include for-1025-px {
                font-size: 12px;
                line-height: 15px;
            }
        }
    }
    .links {
        display: flex;
        gap: 20px;
        @include for-1025-px {
            justify-content: center;
        }
        & img {
            width: 196px;
            height: 56px;
            object-fit: cover;
            @include for-1025-px {
                width: 129px;
                height: 37px;
            }
        }
    }
    .custom-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    .custom-checkbox + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }
    .custom-checkbox + label::before {
        content: "\2714";
        color: transparent;
        font-size: 26px;
        padding-top: 4px;
        padding-left: 4px;
        display: inline-block;
        flex-shrink: 0;
        flex-grow: 0;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        width: 30px;
        height: 30px;
        border: 1px solid rgba(80, 80, 80, 0.5);
        border-radius: 8px;
        cursor: pointer;
        outline: none;
        @include for-1025-px {
            padding-left: 2px;
            width: 24px;
            height: 24px;
            font-size: 22px;
        }
        @include for-640-px {
            margin-left: 10px;
        }
    }
    .custom-checkbox:checked + label::before {
        content: "\2714";
        color: #e24949;
    }
}
