.account-popup {
    width: 510px;
    height: 500px;
    padding: 30px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    .account-popup-title {
        margin-bottom: 12px;
        color: #000;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .account-popup-items {
        padding: 10px;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 12px;
    }
    .account-input-wrapper {
        margin-bottom: 30px;
    }
    .account-button {
        width: max-content;
        margin: 0 auto;
    }
    &.popup-hidden {
        display: none;
    }
    .account-popup-item {
        width: 125px;
        transition: 0.3s;
        &:hover {
            opacity: 0.8;
        }
        .account-popup-label {
            position: relative;
            .wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 80px;
                    height: 80px;
                    margin-bottom: 15px;
                }
                p {
                    color: #000;
                    text-align: center;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
        .custom-checkbox {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
        .custom-checkbox + label {
            display: inline-flex;
            align-items: center;
            user-select: none;
            cursor: pointer;
        }
        .custom-checkbox + label::before {
            content: "\2714";
            margin-right: 4px;
            width: 31px;
            height: 31px;
            flex-shrink: 0;
            background: #fff;
            border-radius: 6px;
            border: 1px solid #c4c4c4;
            color: #fff;
            font-size: 25px;
            padding-left: 4px;
            padding-top: 4px;
            align-self: start;
        }
        .custom-checkbox:checked + label::before {
            content: "\2714";
            color: #d64545;
        }
    }
}
.popup-interesting-function {
    .account-popup-item {
        width: 100%;
        background: red;
        margin: 0 10px;
        .account-popup-label {
            width: 100%;
            // display: flex;
            justify-content: space-between;
            // flex-direction: column;
            order: 2;
            &:before {
                order: 1;
                align-self: flex-end;
            }
        }
    }
}
